basics:
    isDev: true
    port: 10001
    stackTrace: true
db:
    mysqlDns: account:password@tcp(ip:port)/database_name?charset=utf8mb4&parseTime=True&loc=UTC
    logLevel: info
log:
    level: debug
    out_file: false
    filename: go-gin-gorm-framework.log
    max_size: 200
    max_age: 30
    max_backups: 7
